<!-- templates/layout/header.mustache -->
<header class="header">
    <div class="header-left">
        <a href="/mainDetail"><div class="logo">Beatitudo</div></a>
    </div>
    <div class="header-right">
        <a href="/user/join" class="header-btn">Join</a>
        <a href="/user/login" class="header-btn">Login</a>
    </div>
</header>

