<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatitudo por Cafe</title>
    <link rel="stylesheet" href="./css/main/style.css">  <!-- css 파일 적용-->

    <!-- google font 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Beatitudo por Cafe</h1>
    <a class="welcome-btn" href="/mainDetail">Welcome</a>
</div>
</body>
</html>
